@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: Pretendard;
}

body {
  background: #1b0905;
  height : 960px;
}

canvas {
  margin-top : 100px;  
  transition: 2s;
}

button {
  z-index : 1000;
  background: #febf00;
  margin-top: 1rem;
  padding: .8rem 1.8rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  transition: .2s;
  cursor: pointer;
}

button:active {
  background: #444;
  color: #f9f9f9;
}
 
#menu {
  width: 100%;
  height : 960px;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align : center;
  flex-direction: column;
  position: relative;
}

#menu::before {
  margin-top : 100px; 
  content: "";
  position: absolute;
  width: 10px;
  height: 50px;
  border-radius: 5px;
  background: #000;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 22;
}



